Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.5
  hooks:
  - id: ruff
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.364
  hooks:
  - id: pyright
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: cargo-check
  - id: clippy
- repo: local
  hooks:
  - id: fmt
    name: fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
    args: []
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: system
    types: [jupyter]
    args: []
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli

chore(lib): calibrate path tracing
  differt/src/differt/scene/triangle_scene.py
Due: none

chore(lib): cleanup
  differt/src/differt/scene/triangle_scene.py
Due: none

chore(lib): small fixes and SizedIterator
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
Due: none

fix(lib): typo in core module :-(
  differt-core/src/geometry/triangle_mesh.rs
Due: fmt

chore(docs): small improvements
  differt/src/differt/rt/utils.py
  docs/source/notebooks/type_checking.ipynb
Due: nbsetup

chore(deps): bump version from 0.0.18 to 0.0.19
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore(paper): creating figures for paper
  docs/source/notebooks/coherence_paper_figures.ipynb
  pyproject.toml
  uv.lock
Due: nbsetup

feat(lib): add basic support for ray tracing on multiple devices
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
Due: none

fix(docs): typo
  differt/src/differt/scene/triangle_scene.py
Due: none

chore(lib): use new sharding API instead
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/conftest.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(lib): add todo
  differt/src/differt/scene/triangle_scene.py
Due: none

chore(docs): typo
  differt/src/differt/scene/triangle_scene.py
Due: none

feat(lib): add basic support for ray tracing on multiple devices (#128)
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/conftest.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(deps): bump version from 0.0.19 to 0.0.20
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

chore(docs): hide output from path candidates
  docs/source/notebooks/path_candidates.ipynb
Due: nbsetup

chore(docs): fix links
  docs/source/notebooks/path_candidates.ipynb
Due: nbsetup

fix(docs): typo
  README.md
Due: none

fix(docs): hide output of correct cell
  docs/source/notebooks/path_candidates.ipynb
Due: nbsetup

fix(docs): citation file
  CITATION.cff
Due: none

fix(docs): citation fixed!
  CITATION.cff
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(lib): fix empty scene path tracing and add `path_candidates` args
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/path_candidates.ipynb
Due: nbsetup

feat(lib): fix empty scene path tracing and add `path_candidates` args (#131)
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/path_candidates.ipynb
Due: nbsetup

fix(lib): path segments that are too small are masked
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/fixtures.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(lib): change legacy `PRNGKey` to `key`
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/utils.py
  differt/tests/conftest.py
  differt/tests/utils.py
  docs/source/notebooks/performance_tips.ipynb
  docs/source/notebooks/type_checking.ipynb
Due: nbsetup

fix(lib): path segments that are too small are masked (#132)
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/conftest.py
  differt/tests/scene/fixtures.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/utils.py
  docs/source/notebooks/performance_tips.ipynb
  docs/source/notebooks/type_checking.ipynb
Due: nbsetup

feat(cli): add rectangle / quad mesh support
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/test_utils.py
Due: none
