Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, nbsetup

fmt:
  name: fmt
  description: Format files with cargo fmt
  entry: cargo +nightly fmt --
  language: system
  args: []

nbsetup:
  name: nbsetup
  description: Add install preamble to Jupyter Notebooks
  entry: python scripts/nbsetup.py
  language: system
  args: []

feat(lib): enhance core library (#115)
  ROADMAP.md
  differt-core/python/differt_core/_lowlevel/geometry/triangle_mesh.pyi
  differt-core/python/differt_core/_lowlevel/scene/triangle_scene.pyi
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_sionna.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/quickstart.ipynb
  pyproject.toml
Due: fmt, nbsetup

chore(lib): warn about overflow and add Rust coverage
  .github/workflows/test.yml
  differt-core/src/rt/graph.rs
  differt-core/tests/rt/test_graph.py
Due: fmt

fix(ci): setup Python inside container
  .github/workflows/test.yml
Due: none

chore(ci): does it work?
  .github/workflows/test.yml
Due: none

chore(ci): setup-python reads `.python-version`
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

fix(ci): `.python-version`
  .python-version
Due: none

fix(ci): install cargo-tarpaulin manually
  .github/workflows/test.yml
Due: none

chore(lib): warn about overflow and add Rust coverage (#116)
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .python-version
  differt-core/src/rt/graph.rs
  differt-core/tests/rt/test_graph.py
Due: fmt

WIP on coherence
  differt/src/differt/geometry/paths.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

chore(lib): add masked vertices
  differt/src/differt/geometry/paths.py
  differt/src/differt/scene/triangle_scene.py
Due: none

chore(deps): bump JAX and Python>=3.10
  .github/workflows/test.yml
  README.md
  differt/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore(lib): upgrade Python 3.10 and add fibonacci lattice
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/sionna.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_utils.py
  differt/tests/scene/test_sionna.py
  differt/tests/utils.py
  docs/source/notebooks/coherence.ipynb
  docs/source/notebooks/quickstart.ipynb
  src/differt_dev/sphinxext/apidoc.py
Due: nbsetup

chore(lint): some fixes
  differt/src/differt/geometry/paths.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/utils.py
Due: none

fix(docs): typos
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/utils.py
  docs/source/index.rst
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

chore(docs): improve
  differt/src/differt/geometry/utils.py
Due: none

fix(docs): typo
  differt/src/differt/geometry/utils.py
Due: none

chore(tests): improved coverage
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_paths.py
  differt/tests/geometry/test_utils.py
Due: none

fix(docs): explicit variable name
  differt/src/differt/geometry/utils.py
Due: none

chore(fmt): run ruff
  differt/src/differt/geometry/utils.py
Due: none

try(docs): comment code
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

chore(docs): add reference to paper
  differt/src/differt/geometry/utils.py
  docs/source/references.bib
Due: none

wip(lib): ray casting for visibility check
  differt/pyproject.toml
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/rt/test_utils.py
  docs/source/notebooks/plotting_backend.ipynb
  pyproject.toml
  uv.lock
Due: nbsetup

chore(lib): avoid unnecessary broadcasting
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/rt/test_utils.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/notebooks/coherence.ipynb
  docs/source/notebooks/ray_tracing_at_city_scale.ipynb
Due: nbsetup

chore(docs): cleanup
  differt/src/differt/em/special.py
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: nbsetup

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

wip: addressing last issues
  .github/workflows/test.yml
  .gitignore
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/__init__.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/rt/fermat.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/plotting/test_core.py
  differt/tests/rt/conftest.py
  differt/tests/rt/test_image_method.py
  differt/tests/rt/test_utils.py
  differt/tests/rt/utils.py
  docs/source/references.bib
Due: none

chore(tests): improve PLY parsing and test logging
  differt-core/src/geometry/triangle_mesh.rs
  differt/tests/geometry/cube.ply
  differt/tests/geometry/test_triangle_mesh.py
  docs/source/batch_axes.md
Due: fmt

feat(lib): support reading materials from OBJ files
  differt-core/src/geometry/triangle_mesh.rs
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/geometry/two_buildings_with_mat.mtl
  differt/tests/geometry/two_buildings_with_mat.obj
  docs/source/notebooks/bruxelles.mtl
  docs/source/notebooks/bruxelles.obj
  docs/source/notebooks/manhattan.mtl
  docs/source/notebooks/manhattan.obj
  docs/source/notebooks/manhattan_small.mtl
  docs/source/notebooks/manhattan_small.obj
  docs/source/notebooks/path_candidates.ipynb
Due: fmt, nbsetup

chore(lint): happy linting
  .github/workflows/lint.yml
  .rustfmt.toml
  differt-core/benches/benchmarks/graph_iterators.rs
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/rt/graph.rs
  differt-core/src/scene/sionna.rs
Due: fmt

chore(ci): codedoc ignore pyo3 modules
  differt-core/Cargo.toml
  differt-core/src/geometry/mod.rs
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/lib.rs
  differt-core/src/rt/graph.rs
  differt-core/src/rt/mod.rs
  differt-core/src/scene/mod.rs
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
Due: fmt

fix(ci): justfile
  justfile
Due: none

fix(tests): remove materials
  differt/tests/geometry/two_buildings.obj
Due: none

fix(lib): use re-entrant lock and add more tests
  differt/src/differt/geometry/paths.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_paths.py
  differt/tests/scene/test_triangle_scene.py
Due: none

fix(ci): tests and justfile
  differt-core/tests/rt/test_graph.py
  differt/tests/geometry/test_paths.py
  differt/tests/geometry/test_triangle_mesh.py
  justfile
Due: none

chore(ci): disable xdist in CI
  .github/workflows/test.yml
Due: none

try(ci): or this?
  .github/workflows/test.yml
  pyproject.toml
Due: none

chore(tests): one more test
  differt/tests/geometry/test_utils.py
Due: none

Path conditions:
  fmt: any of: \.rs$
  nbsetup: any of: \.ipynb$
