Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-clippy, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff-check
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: local
  hooks:
  - id: cargo-check
    name: cargo check
    description: Check that Rust project can compile
    entry: cargo +stable check
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-fmt
    name: cargo fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
  - id: cargo-clippy
    name: cargo clippy
    description: Check files with cargo clippy
    entry: cargo +stable clippy
    language: system
    types: [rust]
    pass_filenames: false
  - id: sync-sampling-paths-tutorial
    name: sync sampling-paths tutorial
    description: Sync sampling paths tutorial notebook
    entry: python scripts/sync_sampling_paths_tutorial.py
    language: python
    pass_filenames: false
    additional_dependencies: [requests]
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: python
    types: [jupyter]
    additional_dependencies: [nbformat]
  - id: ty
    name: typecheck
    description: Typecheck Python files with ty
    language: system
    entry: uv run ty check  # TODO: find pre-commit hook for this
    pass_filenames: false
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/kynan/nbstripout
  rev: 0.9.0
  hooks:
  - id: nbstripout
    args:
    - --keep-output
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude_types: [jupyter]  # GitHub action will run on Notebooks
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.28
  hooks:
  - id: uv-lock

chore(deps): update pre-commit hooks
  prek.toml
Due: none

chore(deps): bump `fpt-jax` dependency
  differt/pyproject.toml
  differt/src/differt/geometry/_solver_fermat.py
  uv.lock
Due: none

chore(tests): test against McNamara's UTD book
  CHANGELOG.md
  differt/src/differt/em/_material.py
  differt/src/differt/em/_utd.py
  differt/tests/em/test_material.py
  differt/tests/em/test_utd.py
  differt/tests/em/test_utils.py
  differt/tests/integration/__init__.py
  differt/tests/integration/test_against_mcnamara_utd_book.py
  differt/tests/integration/test_against_open3d.py
  differt/tests/integration/test_against_sionna_rt.py
  docs/source/conf.py
Due: none

feat(lib): implement diffraction path tracing
  CHANGELOG.md
  differt/pyproject.toml
  differt/src/differt/geometry/_paths.py
  differt/src/differt/geometry/_solver_fermat.py
  differt/src/differt/geometry/solvers/_base.py
  differt/src/differt/geometry/solvers/_dispatch.py
  differt/src/differt/geometry/solvers/_exhaustive.py
  differt/src/differt/geometry/solvers/_hybrid.py
  differt/src/differt/geometry/solvers/_sbr.py
  differt/tests/geometry/test_fermat.py
  differt/tests/geometry/test_non_specular_interactions.py
  differt/tests/geometry/test_paths.py
  differt/tests/geometry/test_solvers.py
  differt/tests/integration/test_against_sionna_rt.py
  docs/source/notebooks/quickstart.ipynb
  pyproject.toml
  uv.lock
Due: nbsetup

chore(lib): bump `fpt-jax` to released `0.2.0`, tune Fermat solver defaults
  CHANGELOG.md
  differt/pyproject.toml
  differt/src/differt/geometry/_solver_fermat.py
  differt/src/differt/geometry/solvers/_dispatch.py
  pyproject.toml
  uv.lock
Due: none

fix(lib): address review findings from PR #537's diff
  differt-core/src/geometry/scene.rs
  differt/src/differt/em/_material.py
  differt/src/differt/geometry/_solver_fermat.py
  differt/tests/em/test_material.py
  differt/tests/geometry/test_fermat.py
  differt/tests/geometry/test_scene.py
Due: cargo-check, cargo-fmt, cargo-clippy

test(lib): cover remaining Rust branches flagged by CodeCov on PR #537
  differt-core/src/geometry/mesh.rs
  differt-core/src/geometry/scene.rs
  differt-core/src/geometry/sionna.rs
Due: cargo-check, cargo-fmt, cargo-clippy

test: cover remaining branches flagged by CodeCov on PR #537
  differt/tests/em/test_material.py
  differt/tests/em/test_pipeline.py
  differt/tests/geometry/test_mixed_interactions.py
  differt/tests/geometry/test_paths.py
  differt/tests/geometry/test_scene.py
  differt/tests/geometry/test_solvers.py
Due: none

refactor(lib): stop relying on MaterialsDict being hashable
  CHANGELOG.md
  differt/src/differt/em/_material.py
  differt/src/differt/em/_solvers.py
  differt/tests/em/test_material.py
Due: none

fixes
  Cargo.lock
  differt-core/Cargo.toml
  differt-core/src/geometry/scene.rs
Due: cargo-check, cargo-fmt, cargo-clippy

chore: final cleanup before merging
  differt/src/differt/__init__.py
  differt/src/differt/em/_interaction_type.py
  differt/src/differt/em/_material.py
  differt/src/differt/em/_pipeline.py
  differt/src/differt/em/_solvers.py
  differt/src/differt/em/_utils.py
  differt/src/differt/em/_wavefront.py
  differt/src/differt/geometry/_interaction_sites.py
  differt/src/differt/geometry/_mesh.py
  differt/src/differt/geometry/_paths.py
  differt/src/differt/geometry/_scene.py
  differt/src/differt/geometry/solvers/__init__.py
  differt/src/differt/geometry/solvers/_base.py
  differt/src/differt/geometry/solvers/_dispatch.py
  differt/src/differt/geometry/solvers/_exhaustive.py
  differt/src/differt/geometry/solvers/_hybrid.py
  differt/src/differt/geometry/solvers/_sbr.py
  docs/source/notebooks/quickstart.ipynb
Due: nbsetup

fixes
  CHANGELOG.md
  differt/src/differt/em/_pipeline.py
  differt/src/differt/em/_solvers.py
  differt/src/differt/em/_wavefront.py
  differt/src/differt/geometry/solvers/_base.py
  differt/src/differt/geometry/solvers/_dispatch.py
  differt/src/differt/geometry/solvers/_sbr.py
  differt/src/differt/plugins/deepmimo.py
  differt/tests/geometry/test_mixed_interactions.py
  differt/tests/integration/test_against_sionna_rt.py
  docs/source/notebooks/quickstart.ipynb
Due: nbsetup

chore(deps): bump version from 0.11.0 to 0.12.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  README.md
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none
