Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.5
  hooks:
  - id: ruff
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.364
  hooks:
  - id: pyright
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: cargo-check
  - id: clippy
- repo: local
  hooks:
  - id: fmt
    name: fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
    args: []
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: system
    types: [jupyter]
    args: []
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli

chore(docs): fix type hints?
  differt-core/src/scene/sionna.rs
Due: fmt

test: does this work?
  differt-core/src/scene/sionna.rs
Due: fmt

chore(lib): fixing type hint issues and nested bsdf
  .pre-commit-config.yaml
  differt-core/python/differt_core/_lowlevel/scene/sionna.pyi
  differt-core/python/differt_core/_lowlevel/scene/triangle_scene.pyi
  differt-core/python/differt_core/scene/sionna.py
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_sionna.py
  differt/tests/scene/test_triangle_scene.py
Due: fmt

fix(lib): typo
  differt/src/differt/scene/triangle_scene.py
Due: none

fix(lib): typos
  differt-core/src/scene/sionna.rs
  differt/tests/scene/test_triangle_scene.py
Due: fmt

fix(tests): remove nonsense test
  differt/tests/scene/test_triangle_scene.py
Due: none

fix(docs): cleanings
  differt/src/differt/scene/triangle_scene.py
  docs/source/notebooks/quickstart.ipynb
Due: nbsetup

fix(docs): typo in type hint
  differt-core/src/scene/triangle_scene.rs
Due: fmt

fix(docs): typo
  differt/src/differt/scene/triangle_scene.py
Due: none

chore(lib): fmt and tests
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/quickstart.ipynb
Due: nbsetup

feat(lib): improve Sionna scenes support (#98)
  .pre-commit-config.yaml
  differt-core/python/differt_core/_lowlevel/scene/sionna.pyi
  differt-core/python/differt_core/_lowlevel/scene/triangle_scene.pyi
  differt-core/python/differt_core/scene/sionna.py
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
  differt-core/tests/benchmarks/conftest.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_sionna.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/quickstart.ipynb
Due: fmt, nbsetup

chore(ci): from Make to `just`
  .github/workflows/test.yml
  .gitignore
  README.md
  docs/Makefile
  docs/justfile
  justfile
Due: none

chore(docs): phrasing
  README.md
Due: none

chore(ci): allow to skip using rye
  .github/workflows/test.yml
  docs/justfile
  justfile
Due: none

fix(ci): cleanup
  docs/justfile
  justfile
Due: none

chore(ci): from Make to `just` (#101)
  .github/workflows/test.yml
  .gitignore
  README.md
  docs/Makefile
  docs/justfile
  justfile
Due: none

chore(lib): use signed integers for array indices
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/rt/test_utils.py
Due: none

chore(lib): use signed integers for array indices (#102)
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/rt/test_utils.py
Due: none

feat(lib): implement Fresnel and UTD coefficients
  differt/src/differt/em/fresnel.py
  differt/src/differt/em/utd.py
  differt/tests/em/test_fresnel.py
  differt/tests/em/test_special.py
  differt/tests/em/test_utd.py
Due: none

chore(docs): add some docstring
  differt/src/differt/em/fresnel.py
  differt/tests/em/test_fresnel.py
  docs/source/conf.py
Due: none

fix(docs): typo
  differt/src/differt/em/fresnel.py
Due: none

feat(lib): better Fresnel integrals impl.
  differt/src/differt/em/special.py
  differt/src/differt/em/utd.py
  differt/tests/em/test_fresnel.py
  differt/tests/em/test_special.py
  differt/tests/em/test_utd.py
Due: none

fix(docs): rst syntax
  differt/src/differt/em/utd.py
Due: none

fix(docs): escaping '+' ?
  differt/src/differt/em/utd.py
Due: none

fix(docs): oops
  differt/src/differt/em/utd.py
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(lib): implement Fresnel coef.
  differt/src/differt/em/fresnel.py
  differt/src/differt/utils.py
  differt/tests/em/test_fresnel.py
  differt/tests/test_utils.py
Due: none

fix(docs): no :python: role :-(
  differt/src/differt/utils.py
Due: none

chore(tests): added more tests for transition function F
  differt/src/differt/utils.py
  differt/tests/em/test_utd.py
Due: none

chore(deps): add cuda dep for dev
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

chore(ci): some type hint fixes
  differt-core/python/differt_core/geometry/triangle_mesh.py
  differt-core/python/differt_core/rt/graph.py
  differt-core/python/differt_core/scene/sionna.py
  differt-core/python/differt_core/scene/triangle_scene.py
  differt-core/tests/rt/test_graph.py
  differt/pyproject.toml
  differt/src/differt/em/special.py
  differt/src/differt/em/utils.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/fermat.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/sionna.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/conftest.py
  differt/tests/em/test_constants.py
  differt/tests/em/test_special.py
  differt/tests/em/test_utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/geometry/test_utils.py
  differt/tests/plotting/conftest.py
  differt/tests/plotting/test_core.py
  differt/tests/plotting/test_import.py
  differt/tests/plotting/test_utils.py
  differt/tests/rt/test_image_method.py
  differt/tests/rt/test_utils.py
  differt/tests/scene/test_sionna.py
  differt/tests/test_utils.py
  docs/source/conf.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/differt_dev/sphinxext/apidoc.py
Due: none

fix(docs): typo
  differt/src/differt/utils.py
Due: none

chore(docs): fix typo in ref
  differt/src/differt/utils.py
Due: none

chore(docs): add image-method example
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

chore(docs): fixes
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  pyproject.toml
Due: none
