Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.5
  hooks:
  - id: ruff
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.364
  hooks:
  - id: pyright
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: cargo-check
  - id: clippy
- repo: local
  hooks:
  - id: fmt
    name: fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
    args: []
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: system
    types: [jupyter]
    args: []
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli

perf(lib): unroll image method and `use_scan=False`
  differt/src/differt/rt/image_method.py
Due: none

fix(ci): labeler.yml
  .github/labeler.yml
Due: none

feat(lib): add `use_scan` argument
  differt/src/differt/rt/utils.py
Due: none

fix(lib): correct axes
  differt/src/differt/rt/utils.py
Due: none

chore(ci): add `use_scan=False/True` tests
  differt/tests/benchmarks/test_rt.py
Due: none

fix(tests): oops
  differt/src/differt/rt/utils.py
  differt/tests/rt/test_utils.py
Due: none

fix(lib): enable scan by default as it seems better
  differt/src/differt/rt/utils.py
Due: none

chore(tests): smarter test for rt methods
  differt/tests/benchmarks/conftest.py
  differt/tests/benchmarks/fixtures.py
  differt/tests/benchmarks/test_rt.py
  differt/tests/rt/utils.py
Due: none

chore(ci): add cuda check
  justfile
Due: none

perf(lib): unroll image method and `use_scan=True/False` (#119)
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/tests/benchmarks/conftest.py
  differt/tests/benchmarks/fixtures.py
  differt/tests/benchmarks/test_rt.py
  differt/tests/rt/test_utils.py
  differt/tests/rt/utils.py
  justfile
Due: none

chore(lib): cleanup
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/benchmarks/fixtures.py
  differt/tests/benchmarks/test_rt.py
  uv.lock
Due: none

fix(lib): make `material_names` field static
  differt/src/differt/geometry/triangle_mesh.py
  differt/tests/rt/test_utils.py
Due: none

chore(lib): was `einsum` any better?
  differt/src/differt/rt/utils.py
Due: none

chore(lib): looks like einsum was a bad idea :-(
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/tests/rt/test_image_method.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(lib): was `einsum` any better? (#120)
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/tests/rt/test_image_method.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(docs): add missing documentation to `differt_core`
  differt-core/python/differt_core/__init__.py
  differt-core/python/differt_core/geometry/__init__.py
  differt-core/python/differt_core/geometry/triangle_mesh.py
  differt-core/python/differt_core/rt/__init__.py
  differt-core/python/differt_core/scene/__init__.py
  differt-core/python/differt_core/scene/triangle_scene.py
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/conf.py
Due: fmt

fix(docs): rewrite type hint
  differt-core/python/differt_core/geometry/triangle_mesh.py
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/triangle_scene.rs
Due: fmt

fix(docs): typo
  differt/src/differt/geometry/triangle_mesh.py
Due: none

fix(docs): typo
  differt/src/differt/plotting/_utils.py
Due: none

chore(docs): add missing documentation to `differt_core` (#121)
  differt-core/python/differt_core/__init__.py
  differt-core/python/differt_core/geometry/__init__.py
  differt-core/python/differt_core/geometry/triangle_mesh.py
  differt-core/python/differt_core/rt/__init__.py
  differt-core/python/differt_core/scene/__init__.py
  differt-core/python/differt_core/scene/triangle_scene.py
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/conf.py
Due: fmt

chore(deps): bump version from 0.0.17 to 0.0.18
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

fix(ci): force `dist` directory
  .github/workflows/publish.yml
Due: none

chore(ci): allow manual publishing
  .github/workflows/publish.yml
Due: none

fix(lib): add coherence map
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(docs): identify groups
  docs/source/notebooks/coherence.ipynb
  justfile
Due: nbsetup

chore(docs): format Rust's docstring
  differt-core/src/geometry/triangle_mesh.rs
Due: fmt

chore(docs): add first coherence map
  differt/src/differt/geometry/paths.py
  differt/src/differt/plotting/__init__.py
  differt/src/differt/plotting/_core.py
  differt/tests/plotting/test_core.py
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

chore(tests): fixes
  differt/src/differt/geometry/paths.py
  differt/tests/plotting/test_core.py
Due: none

chore(lib): remove inner compute paths logic to outside for jitting
  differt/src/differt/geometry/paths.py
  differt/src/differt/scene/triangle_scene.py
Due: none

chore(docs): cleanup example
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/utils.py
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

chore(ci): use Self return type to allow subclassing
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

chore(tests): remove typechecking when using typing.Self
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

chore(docs): do not execute coherence example when building docs
  docs/source/notebooks/coherence.ipynb
Due: nbsetup

fix(docs): automatically close Matplotlib figures
  differt/tests/conftest.py
Due: none

chore(tests): cache output
  differt/tests/conftest.py
Due: none

chore(lib): invert hit logic
  differt/src/differt/rt/utils.py
Due: none

chore(lib): invert hit logic (#126)
  differt/src/differt/rt/utils.py
Due: none
