Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, nbsetup

fmt:
  name: fmt
  description: Format files with cargo fmt
  entry: cargo +nightly fmt --
  language: system
  args: []

nbsetup:
  name: nbsetup
  description: Add install preamble to Jupyter Notebooks
  entry: python scripts/nbsetup.py
  language: system
  args: []

fix(docs): typo
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: nbsetup

chore(ci): explicitly tell which python path to use
  .github/workflows/test.yml
Due: none

fix(docs): rename link to builtins' `len`
  differt-core/src/rt/graph.rs
Due: fmt

chore(docs): remove stuff about max length
  differt-core/src/rt/graph.rs
Due: fmt

fix(ci): oops
  .github/workflows/test.yml
Due: none

try(ci): try something else
  .github/workflows/test.yml
Due: none

chore(ci): no need preview
  .github/workflows/test.yml
Due: none

fix(ci): multiline syntax
  .github/workflows/test.yml
Due: none

chore(ci): remove all build artifacts
  .github/workflows/test.yml
Due: none

chore(docs): update tutorial
  differt-core/src/rt/graph.rs
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: fmt, nbsetup

fixes
  differt-core/src/rt/graph.rs
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: fmt, nbsetup

feat(lib): add option to provide TX and RX visibility (#149)
  Cargo.lock
  differt-core/Cargo.toml
  differt-core/benches/benchmarks/graph_iterators.rs
  differt-core/python/differt_core/_lowlevel/rt/graph.pyi
  differt-core/src/rt/graph.rs
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: fmt, nbsetup

fix(docs): update
  docs/source/notebooks/plotting_backend.ipynb
Due: nbsetup

chore(docs): fix some typos
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: nbsetup

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(lib): add rotation, translation, and scaling utilities
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(ml): learning how to sample path candidates
  docs/source/notebooks/learning_path_candidates.ipynb
Due: nbsetup

wip
  docs/source/notebooks/learning_path_candidates.ipynb
Due: nbsetup

Auto stash before rebase of "machine-learning" onto "origin/main"
  docs/source/notebooks/learning_path_candidates.ipynb
Due: nbsetup

chore(ml): wip
  docs/source/notebooks/learning_path_candidates.ipynb
  docs/source/notebooks/sampling_paths.ipynb
  pyproject.toml
  uv.lock
Due: nbsetup

chore(docs): fix link
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: nbsetup

include in docs
  docs/source/index.rst
Due: none

chore(ci): try ignore warning
  .github/workflows/test.yml
Due: none

chore(ci): try put ignore elsewhere
  .github/workflows/test.yml
  pyproject.toml
Due: none

chore(deps): bump to allow NumPy >= 2 (#141)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Cargo.lock
  differt-core/Cargo.toml
  differt-core/pyproject.toml
  docs/source/conf.py
  justfile
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump version from 0.0.21 to 0.0.22
  CITATION.cff
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

fix(docs): typo
  differt/src/differt/scene/triangle_scene.py
Due: none

feat(lib): add box mesh constructor
  differt/src/differt/geometry/triangle_mesh.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

fix(docs): typos
  differt/src/differt/geometry/triangle_mesh.py
Due: none

feat(lib): add box mesh constructor (#151)
  differt/src/differt/geometry/triangle_mesh.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

chore(deps): bump version from 0.0.22 to 0.0.23
  CITATION.cff
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

chore(ci): run LT on striped nb
  .github/workflows/languagetool.yml
Due: none

Path conditions:
  fmt: any of: \.rs$
  nbsetup: any of: \.ipynb$
