Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.5
  hooks:
  - id: ruff
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.364
  hooks:
  - id: pyright
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: cargo-check
  - id: clippy
- repo: local
  hooks:
  - id: fmt
    name: fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
    args: []
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: system
    types: [jupyter]
    args: []
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli

chore(deps): bump version from 0.0.20 to 0.0.21
  CITATION.cff
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

feat(lib): convenient `set_assume_quads` method
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(ci): add bechmark for quads
  differt/tests/benchmarks/test_rt.py
Due: none

chore(ci): add bechmark for quads (#136)
  differt/tests/benchmarks/test_rt.py
Due: none

chore(ci): restrict to tags starting with v
  .github/workflows/publish.yml
Due: none

chore(lib): remove `differt.em.special` module
  differt/src/differt/em/fresnel.py
  differt/src/differt/em/special.py
  differt/src/differt/em/utd.py
  differt/src/differt/utils.py
  differt/tests/em/test_special.py
Due: none

chore(lib): do not enforce complex dtype
  differt/src/differt/em/fresnel.py
Due: none

wip
  differt/src/differt/em/fresnel.py
  differt/src/differt/em/utd.py
Due: none

feat(lib): add `keepdims` arg to `normalize`
  differt/src/differt/geometry/utils.py
  differt/tests/geometry/test_utils.py
Due: none

feat(lib): add `keepdims` arg to `normalize` (#138)
  differt/src/differt/geometry/utils.py
  differt/tests/geometry/test_utils.py
Due: none

chore(ml): learning how to sample path candidates
  docs/source/notebooks/learning_path_candidates.ipynb
Due: nbsetup

wip
  docs/source/notebooks/learning_path_candidates.ipynb
Due: nbsetup

chore(ci): tell Ruff to inherit from main config
  docs/source/notebooks/ruff.toml
Due: none

feat(lib): preserve objects when samping and `num_objects`
  differt/src/differt/geometry/triangle_mesh.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

chore(lint): silence pyright
  differt/tests/geometry/test_triangle_mesh.py
Due: none

feat(lib): preserve objects when samping and `num_objects` (#140)
  differt/src/differt/geometry/triangle_mesh.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

fix(lib): indices
  differt/src/differt/geometry/triangle_mesh.py
Due: none

Auto stash before rebase of "machine-learning" onto "origin/main"
  docs/source/notebooks/learning_path_candidates.ipynb
Due: nbsetup

chore(deps): bump to allow NumPy >= 2
  .github/workflows/test.yml
  Cargo.lock
  differt-core/Cargo.toml
  differt-core/pyproject.toml
Due: none

chore(deps): update lock
  uv.lock
Due: none

chore(ci): disable Windows 32-bit
  .github/workflows/publish.yml
Due: none

chore(ci/docs): nitpicky check
  docs/source/conf.py
Due: none

chore(ci): silence warning
  docs/source/conf.py
Due: none

chore(ci): ignore jaxtyping references
  docs/source/conf.py
Due: none

chore(ci): actually ignore everything from jaxtyping
  docs/source/conf.py
Due: none

fix(docs): some broken refs are fixed
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/utils.py
  docs/source/batch_axes.md
  docs/source/conf.py
Due: fmt

fix(ci): press F
  docs/source/conf.py
Due: none

fixes
  differt/src/differt/utils.py
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: nbsetup

fix(docs): all references are fixed!!
  .rustfmt.toml
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/paths.py
  docs/source/conf.py
  pyproject.toml
Due: fmt
