Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-clippy, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff-check
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: local
  hooks:
  - id: cargo-check
    name: cargo check
    description: Check that Rust project can compile
    entry: cargo +stable check
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-fmt
    name: cargo fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
  - id: cargo-clippy
    name: cargo clippy
    description: Check files with cargo clippy
    entry: cargo +stable clippy
    language: system
    types: [rust]
    pass_filenames: false
  - id: sync-sampling-paths-tutorial
    name: sync sampling-paths tutorial
    description: Sync sampling paths tutorial notebook
    entry: python scripts/sync_sampling_paths_tutorial.py
    language: python
    pass_filenames: false
    additional_dependencies: [requests]
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: python
    types: [jupyter]
    additional_dependencies: [nbformat]
  - id: ty
    name: typecheck
    description: Typecheck Python files with ty
    language: system
    entry: uv run ty check  # TODO: find pre-commit hook for this
    pass_filenames: false
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/kynan/nbstripout
  rev: 0.9.0
  hooks:
  - id: nbstripout
    args:
    - --keep-output
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude_types: [jupyter]  # GitHub action will run on Notebooks
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.28
  hooks:
  - id: uv-lock

Fix ruff lint and cargo fmt
  differt-core/build.rs
  differt/tests/accel/test_bvh.py
Due: cargo-check, cargo-fmt, cargo-clippy

Fix nightly rustfmt formatting in build.rs
  differt-core/build.rs
Due: cargo-check, cargo-fmt, cargo-clippy

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add differentiable BVH acceleration for compute_paths soft mode
  differt-core/python/differt_core/_differt_core/accel/bvh.pyi
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/accel/test_bvh.py
Due: none

Fix ty typecheck for smoothing_factor float conversion
  differt/src/differt/scene/_triangle_scene.py
Due: none

Add coverage test for soft BVH branch and fix codespell
  differt/tests/accel/test_bvh.py
  pyproject.toml
Due: none

Fix pre-commit (ruff, cargo fmt) and improve BVH test coverage
  differt-core/build.rs
  differt-core/src/accel/bvh.rs
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/rt/graph.rs
  differt-core/src/scene/sionna.rs
  differt/src/differt/plotting/_utils.py
Due: cargo-check, cargo-fmt, cargo-clippy

Fix nightly cargo fmt formatting
  differt-core/build.rs
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/rt/graph.rs
  differt-core/src/scene/sionna.rs
Due: cargo-check, cargo-fmt, cargo-clippy

fix: typo
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: nbsetup

feat: add default lighting to Plotly scenes (closes #413)
  differt/src/differt/plotting/_core.py
Due: none

fix: resolve #413
  .gitignore
Due: none

chore(deps): bump `jupyter-rfb` to remove `ipykernel<7` constraint
  differt/pyproject.toml
  uv.lock
Due: none

fix(docs): re-add Plotly figure as last cell statement (see #412)
  docs/source/notebooks/plotting_backend.ipynb
Due: nbsetup

chore(deps): bump ty and type issues
  differt/src/differt/em/_antenna.py
  differt/src/differt/geometry/_paths.py
  differt/src/differt/geometry/_triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/plugins/deepmimo.py
  differt/src/differt/rt/_fermat.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/em/test_antenna.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/plotting/test_utils.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/conf.py
  pyproject.toml
  uv.lock
Due: none

chore(tests): renamed `jaxtyped` Pytest marker to `required_typechecker`
  .github/workflows/test.yml
  CHANGELOG.md
  differt-core/python/differt_core/__init__.py
  differt/tests/conftest.py
  differt/tests/em/test_utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/geometry/test_utils.py
  differt/tests/rt/test_image_method.py
  differt/tests/rt/test_utils.py
Due: none

chore(deps): cleanup dependencies
  differt-core/python/differt_core/__init__.py
  docs/source/conf.py
  pyproject.toml
  uv.lock
Due: none

fix(docs): wording
  .github/workflows/test.yml
  CHANGELOG.md
Due: none

fix(lib): rewrite fix
  .python-version
  .readthedocs.yaml
  differt-core/python/differt_core/__init__.py
  differt/src/differt/geometry/_utils.py
  pyproject.toml
  uv.lock
Due: none

fix(docs): updated nitpick ignore
  docs/source/conf.py
Due: none

chore(tests): renamed `jaxtyped` Pytest marker to `required_typechecker` (#422)
  .github/workflows/test.yml
  CHANGELOG.md
  differt-core/python/differt_core/__init__.py
  differt/tests/conftest.py
  differt/tests/em/test_utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/geometry/test_utils.py
  differt/tests/rt/test_image_method.py
  differt/tests/rt/test_utils.py
Due: none

chore(deps): cleanup dependencies (#423)
  docs/source/conf.py
  pyproject.toml
  uv.lock
Due: none

fix(lib): incomplete return type annotation
  differt/src/differt/geometry/_utils.py
Due: none

fix(docs): missing type annotation for assemble_paths (#421)
  .python-version
  .readthedocs.yaml
  CHANGELOG.md
  differt/src/differt/geometry/_utils.py
  docs/source/conf.py
  pyproject.toml
  uv.lock
Due: none

chore(docs): update changelog
  CHANGELOG.md
Due: none

fix(lib): cleanup copilot's implementation
  differt/src/differt/geometry/_triangle_mesh.py
Due: none

chore(docs): added missing PR number in changelog entries
  CHANGELOG.md
Due: none

chore(tests): added tests
  differt/src/differt/geometry/_triangle_mesh.py
  differt/src/differt/geometry/_utils.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

chore(lib): add `Sequence` types to index/values
  differt/src/differt/geometry/_triangle_mesh.py
Due: none

chore(lib): improve type annotation and documentation for TriangleMesh.at indexing methods (#420)
  CHANGELOG.md
  differt/src/differt/geometry/_triangle_mesh.py
  differt/src/differt/geometry/_utils.py
  differt/tests/geometry/test_triangle_mesh.py
Due: none

Address maintainer review comments on PR #406
  Cargo.lock
  differt-core/Cargo.toml
  differt-core/build.rs
  differt-core/pyproject.toml
  differt-core/python/differt_core/__init__.py
  differt-core/python/differt_core/_differt_core/accel/bvh.pyi
  differt/src/differt/accel/_accelerated.py
  differt/src/differt/accel/_bvh.py
  differt/src/differt/accel/_ffi.py
  differt/src/differt/geometry/_triangle_mesh.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/accel/test_bvh.py
  pyproject.toml
Due: cargo-check, cargo-fmt, cargo-clippy

Fix build: keep xla-ffi optional, graceful JAX fallback in build.rs
  differt-core/build.rs
  differt-core/pyproject.toml
Due: cargo-check, cargo-fmt, cargo-clippy

Fix jaxtyping runtime check: use flexible return type annotations
  differt/src/differt/accel/_accelerated.py
Due: none

Rename hard/soft to smoothing convention, clean up imports
  differt/src/differt/geometry/_triangle_mesh.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/accel/test_bvh.py
Due: none

Fix batch_shape broadcasting bug in BVH wrappers
  differt/src/differt/accel/_accelerated.py
Due: none

chore(deps): bump version from 0.7.0 to 0.8.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  README.md
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

Update __init__.py example to show BVH hit vs miss
  differt/src/differt/accel/__init__.py
Due: none
