Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-clippy, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.10
  hooks:
  - id: ruff
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.396
  hooks:
  - id: pyright
- repo: local
  hooks:
  - id: cargo-check
    name: cargo check
    description: Check that Rust project can compile
    entry: cargo +stable check
    language: system
    types: [rust]
    args: []
    pass_filenames: false
  - id: cargo-fmt
    name: cargo fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
    args: []
  - id: cargo-clippy
    name: cargo clippy
    description: Check files with cargo clippy
    entry: cargo +stable clippy
    language: system
    types: [rust]
    args: []
    pass_filenames: false
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: python
    types: [jupyter]
    additional_dependencies: [nbformat]
    args: []
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/kynan/nbstripout
  rev: 0.8.1
  hooks:
  - id: nbstripout
    args:
    - --keep-output
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude_types: [jupyter]  # GitHub action will run on Notebooks
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.5
  hooks:
  - id: uv-lock

chore(deps): bump version from 0.1.0 to 0.1.1
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  README.md
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

fix(docs): spacing issue and link
  CHANGELOG.md
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(ci): remove compile-time benchmark and add jitted-fun benchmark
  differt/tests/benchmarks/test_rt.py
Due: none

chore(ci): remove compile-time benchmark and add jitted-fun benchmark (#279)
  differt/tests/benchmarks/test_rt.py
Due: none

chore(repo): capital letter
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

fix(lib): disable `parallel` mode when `jax>=0.6`
  CHANGELOG.md
  differt/pyproject.toml
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
  uv.lock
Due: none

fix(lib): disable `parallel` mode when `jax>=0.6` (#281)
  CHANGELOG.md
  differt/pyproject.toml
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
  uv.lock
Due: none

feat(lib): deprecate `minimize` in favor of problem-specific solutions
  CHANGELOG.md
  differt/src/differt/rt/_fermat.py
  differt/src/differt/rt/_image_method.py
  differt/src/differt/utils.py
  differt/tests/rt/test_fermat.py
  differt/tests/test_utils.py
Due: none

feat(lib): deprecate `minimize` in favor of problem-specific solutions (#283)
  CHANGELOG.md
  differt/src/differt/rt/_fermat.py
  differt/src/differt/rt/_image_method.py
  differt/src/differt/utils.py
  differt/tests/rt/test_fermat.py
  differt/tests/test_utils.py
Due: none

chore(ci): allow missing version for `uv.lock`
  pyproject.toml
Due: none

chore(deps): bump version from 0.1.1 to 0.1.2
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  README.md
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

fix(docs): path fragments
  docs/source/conf.py
Due: none

feat(lib): add `TriangleMesh.mask` attribute
  CHANGELOG.md
  differt/src/differt/geometry/_triangle_mesh.py
  differt/src/differt/rt/_utils.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/benchmarks/test_training.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
Due: none

fix(dev): update import-hook and remove `--detect-uv`
  justfile
  pyproject.toml
  uv.lock
Due: none

feat(lib): add `TriangleMesh.mask` attribute (#287)
  CHANGELOG.md
  differt/src/differt/geometry/_triangle_mesh.py
  differt/src/differt/rt/_utils.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/benchmarks/test_training.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(lib): refactor `__version__` and add `__version_info__` tuple
  CHANGELOG.md
  differt-core/python/differt_core/__init__.py
  differt-core/python/differt_core/_differt_core/__init__.pyi
  differt-core/src/lib.rs
  differt-core/tests/test_version.py
  differt/src/differt/__init__.py
  differt/src/differt/_version.py
  differt/tests/test_differt_core.py
Due: cargo-check, cargo-fmt, cargo-clippy

chore(lib): refactor `__version__` and add `__version_info__` tuple (#288)
  CHANGELOG.md
  differt-core/python/differt_core/__init__.py
  differt-core/python/differt_core/_differt_core/__init__.pyi
  differt-core/src/lib.rs
  differt-core/tests/test_version.py
  differt/src/differt/__init__.py
  differt/src/differt/_version.py
  differt/tests/test_differt_core.py
Due: cargo-check, cargo-fmt, cargo-clippy

refactor(lib): simplified `assemble_paths`
  CHANGELOG.md
  differt/src/differt/geometry/_utils.py
  differt/src/differt/rt/_fermat.py
  differt/src/differt/rt/_image_method.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/geometry/test_utils.py
  differt/tests/rt/test_fermat.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/test_integration.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/notebooks/diffraction.ipynb
Due: nbsetup

refactor(lib): simplified `assemble_paths` (#289)
  CHANGELOG.md
  differt/src/differt/geometry/_utils.py
  differt/src/differt/rt/_fermat.py
  differt/src/differt/rt/_image_method.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/geometry/test_utils.py
  differt/tests/rt/test_fermat.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/test_integration.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/notebooks/diffraction.ipynb
Due: nbsetup

chore(deps): bump version from 0.1.2 to 0.2.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  README.md
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

fix(docs): links in changelog
  CHANGELOG.md
Due: none

fix(docs): typos in 'Cartesian' and heading
  differt/src/differt/geometry/_utils.py
  docs/source/conventions.md
Due: none

chore(docs): document code profiling
  docs/source/notebooks/performance_tips.ipynb
  pyproject.toml
  uv.lock
Due: nbsetup

fix(docs): typo
  differt/src/differt/plotting/_core.py
Due: none

chore(lib): forgot to remove in 0.2, postpone to 0.3
  differt/src/differt/utils.py
Due: none

feat(lib): remove `differt.utils.minimize`
  CHANGELOG.md
  differt/src/differt/plotting/_core.py
  differt/src/differt/plugins/_deepmimo_types.py
  differt/src/differt/plugins/deepmimo.py
  differt/src/differt/utils.py
  differt/tests/test_utils.py
  docs/source/notebooks/performance_tips.ipynb
  docs/source/reference/differt.utils.rst
  pyproject.toml
Due: nbsetup

feat(lib): remove `differt.utils.minimize` (#291)
  CHANGELOG.md
  differt/src/differt/plotting/_core.py
  differt/src/differt/plugins/_deepmimo_types.py
  differt/src/differt/plugins/deepmimo.py
  differt/src/differt/utils.py
  differt/tests/test_utils.py
  docs/source/notebooks/performance_tips.ipynb
  docs/source/reference/differt.utils.rst
  pyproject.toml
Due: nbsetup

chore(tests): improve coverage for `TriangleMesh.mask`
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(ci): using ty for (static) type checking Python files
  .pre-commit-config.yaml
  differt/src/differt/plotting/_utils.py
  differt/tests/geometry/test_utils.py
  differt/tests/scene/test_sionna.py
  pyproject.toml
  uv.lock
Due: none

feat(lib): publish no-gil `differt_core` and extend tests
  .github/workflows/test.yml
  CHANGELOG.md
  differt-core/src/geometry/mod.rs
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/lib.rs
  differt-core/src/rt/graph.rs
  differt-core/src/rt/mod.rs
  differt-core/src/scene/mod.rs
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/conftest.py
  differt/tests/conftest.py
  differt/tests/em/test_antenna.py
  differt/tests/geometry/fixtures.py
  differt/tests/geometry/test_paths.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/plotting/params.py
  differt/tests/plotting/test_core.py
  differt/tests/plotting/test_utils.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/test_integration.py
  pyproject.toml
  uv.lock
Due: cargo-check, cargo-fmt, cargo-clippy

feat(lib): publish no-gil `differt_core` and extend tests (#293)
  .github/workflows/test.yml
  CHANGELOG.md
  differt-core/src/geometry/mod.rs
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/lib.rs
  differt-core/src/rt/graph.rs
  differt-core/src/rt/mod.rs
  differt-core/src/scene/mod.rs
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/conftest.py
  differt/tests/conftest.py
  differt/tests/em/test_antenna.py
  differt/tests/geometry/fixtures.py
  differt/tests/geometry/test_paths.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/plotting/params.py
  differt/tests/plotting/test_core.py
  differt/tests/plotting/test_utils.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/test_integration.py
  pyproject.toml
  uv.lock
Due: cargo-check, cargo-fmt, cargo-clippy

chore(deps): bump version from 0.2.0 to 0.3.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  README.md
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

fix(pypi): typo in 'DiffeRT'
  differt-core/pyproject.toml
Due: none

chore(tests): reduced computational time of some tests and fixed typo
  CHANGELOG.md
  differt/src/differt/plugins/deepmimo.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/test_integration.py
Due: none

chore(tests): reduced computational time of some tests and fixed typo (#294)
  CHANGELOG.md
  differt/src/differt/plugins/deepmimo.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/test_integration.py
Due: none

feat(lib): implement `hybrid` method for `compute_paths`
  CHANGELOG.md
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/benchmarks/test_rt.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/test_integration.py
Due: none
