Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, nbsetup

fmt:
  name: fmt
  description: Format files with cargo fmt
  entry: cargo +nightly fmt --
  language: system
  args: []

nbsetup:
  name: nbsetup
  description: Add install preamble to Jupyter Notebooks
  entry: python scripts/nbsetup.py
  language: system
  args: []

chore(docs): fix redirect error
  docs/source/batch_axes.md
Due: none

chore(ci/docs): nitpicky check (#142)
  .rustfmt.toml
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/sionna.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/utils.py
  differt/src/differt/utils.py
  docs/source/batch_axes.md
  docs/source/conf.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  pyproject.toml
Due: fmt, nbsetup

chore(fmt): format
  docs/source/conf.py
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(ci): exclude `multipath` notebook from LT check
  .github/workflows/languagetool.yml
Due: none

chore(ci): exclude `multipath` notebook from LT check (#144)
  .github/workflows/languagetool.yml
Due: none

fix(docs): hacky ref to jaxtyping and equinox modules
  differt-core/src/geometry/triangle_mesh.rs
  docs/source/conf.py
Due: fmt

fmt
  docs/source/conf.py
Due: none

fix(docs): hacky ref to jaxtyping and equinox modules (#145)
  differt-core/src/geometry/triangle_mesh.rs
  docs/source/conf.py
Due: fmt

chore(lib): add antenna module
  differt/src/differt/em/antenna.py
Due: none

chore(lib): make plotting utilities accept JAX arrays
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/plotting/__init__.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/plotting/test_core.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/numpy_vs_jax.md
Due: nbsetup

chore(docs): fixes
  differt/src/differt/scene/triangle_scene.py
  differt/tests/plotting/test_core.py
  docs/source/conf.py
Due: none

chore(tests): fix tests
  differt/src/differt/plotting/_core.py
  differt/tests/plotting/test_core.py
Due: none

chore(lib): make plotting utilities accept JAX arrays (#146)
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/plotting/__init__.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/plotting/test_core.py
  docs/source/conf.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/numpy_vs_jax.md
Due: nbsetup

wip: radiation pattern
  differt/src/differt/em/antenna.py
  differt/src/differt/plotting/_core.py
Due: none

chore(ci): antenna dipole
  differt/src/differt/em/antenna.py
  differt/src/differt/em/fresnel.py
  differt/src/differt/em/utd.py
  differt/src/differt/geometry/utils.py
  differt/tests/em/test_utd.py
  pyproject.toml
Due: none

feat(lib): extend support for parallelism
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(lib): add `@overload` to provide better type hint
  differt/src/differt/scene/triangle_scene.py
  differt/tests/benchmarks/test_rt.py
  differt/tests/scene/test_triangle_scene.py
Due: none

chore(lib): add more overloads
  .pre-commit-config.yaml
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_triangle_mesh.py
  pyproject.toml
Due: none

fix(lib): oupsi
  differt/src/differt/geometry/triangle_mesh.py
Due: none

fix(tests): escape regex
  differt/tests/geometry/test_triangle_mesh.py
Due: none

fix(docs): remove 'Either' as it is no longer true
  differt/src/differt/scene/triangle_scene.py
Due: none

feat(lib): extend support for parallelism (#148)
  .pre-commit-config.yaml
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/benchmarks/test_rt.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
  pyproject.toml
Due: none

test(ci): rerun benchmarks
  .github/workflows/test.yml
  differt-core/pyproject.toml
Due: none

feat(lib): add option to provide TX and RX visibility
  differt-core/src/rt/graph.rs
Due: fmt

chore(tests): improve coverage
  Cargo.lock
  differt-core/Cargo.toml
  differt-core/src/rt/graph.rs
Due: fmt

chore(docs): update pyi
  differt-core/python/differt_core/_lowlevel/rt/graph.pyi
Due: none

fix(docs): tests
  differt-core/src/rt/graph.rs
Due: fmt

fix(tests): update benchmarks
  differt-core/benches/benchmarks/graph_iterators.rs
Due: fmt

chore(tests): improve coverage
  differt-core/src/rt/graph.rs
Due: fmt

chore(ci): add `-v`
  .github/workflows/test.yml
Due: none

chore(ci): change build logic
  .github/workflows/test.yml
  justfile
Due: none

chore(ci): fixes
  .github/workflows/test.yml
Due: none

fix ?
  .github/workflows/test.yml
Due: none

chore(deps): update lock
  .github/workflows/test.yml
Due: none

chore(deps): update lockfile
  uv.lock
Due: none

feat(lib): add `count` methods to iterators
  differt-core/python/differt_core/_lowlevel/rt/graph.pyi
  differt-core/src/rt/graph.rs
  docs/source/notebooks/advanced_path_tracing.ipynb
Due: fmt, nbsetup

Path conditions:
  fmt: any of: \.rs$
  nbsetup: any of: \.ipynb$
