Repository jeertmans/DiffeRT: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-fmt, cargo-clippy, nbsetup

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
    exclude: .*\.svg$
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
    exclude: Cargo.lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff-check
    args: [--fix]
    types_or: [python, pyi, jupyter]
  - id: ruff-format
    types_or: [python, pyi, jupyter]
- repo: local
  hooks:
  - id: cargo-check
    name: cargo check
    description: Check that Rust project can compile
    entry: cargo +stable check
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-fmt
    name: cargo fmt
    description: Format files with cargo fmt
    entry: cargo +nightly fmt --
    language: system
    types: [rust]
  - id: cargo-clippy
    name: cargo clippy
    description: Check files with cargo clippy
    entry: cargo +stable clippy
    language: system
    types: [rust]
    pass_filenames: false
  - id: sync-sampling-paths-tutorial
    name: sync sampling-paths tutorial
    description: Sync sampling paths tutorial notebook
    entry: python scripts/sync_sampling_paths_tutorial.py
    language: python
    pass_filenames: false
    additional_dependencies: [requests]
  - id: nbsetup
    name: nbsetup
    description: Add install preamble to Jupyter Notebooks
    entry: python scripts/nbsetup.py
    language: python
    types: [jupyter]
    additional_dependencies: [nbformat]
  - id: ty
    name: typecheck
    description: Typecheck Python files with ty
    language: system
    entry: uv run ty check  # TODO: find pre-commit hook for this
    pass_filenames: false
- repo: https://github.com/flying-sheep/bibfmt
  rev: v4.3.0
  hooks:
  - id: bibfmt
    args:
    - --sort-by-bibkey
    - --drop=abstract
- repo: https://github.com/kynan/nbstripout
  rev: 0.9.0
  hooks:
  - id: nbstripout
    args:
    - --keep-output
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude_types: [jupyter]  # GitHub action will run on Notebooks
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.28
  hooks:
  - id: uv-lock

refactor(lib): split `compute_paths` in traced and launched variants (#491)
  CHANGELOG.md
  differt/src/differt/geometry/__init__.py
  differt/src/differt/geometry/_paths.py
  differt/src/differt/plugins/deepmimo.py
  differt/src/differt/scene/__init__.py
  differt/src/differt/scene/_solvers.py
  differt/src/differt/scene/_triangle_scene.py
  differt/tests/benchmarks/test_rt.py
  differt/tests/benchmarks/test_training.py
  differt/tests/geometry/test_paths.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/scene/test_solvers.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/test_integration.py
  docs/source/conf.py
  docs/source/guides.rst
  docs/source/path_tracing_vs_launching.md
  docs/source/reference/differt.geometry.rst
  docs/source/reference/differt.scene.rst
Due: none

test(core): rename test files to avoid name clashes with differt tests
  differt-core/tests/geometry/test_core_mesh.py
  differt-core/tests/scene/test_core_scene.py
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix(ci): lints
  docs/source/notebooks/multipath.ipynb
  pyproject.toml
Due: nbsetup

feat(em): update ITU materials (P.2040-4) and auto-generate docs table
  CHANGELOG.md
  differt-core/src/geometry/sionna.rs
  differt/src/differt/em/_material.py
  differt/tests/em/test_material.py
  docs/source/_extensions/itu_materials_table.py
  docs/source/conf.py
  docs/source/reference/differt.em.rst
  docs/source/references.bib
Due: cargo-check, cargo-fmt, cargo-clippy

chore(docs): avoid spurious changes detection on RTD builds
  CHANGELOG.md
  docs/source/conf.py
  docs/source/notebooks/multipath.ipynb
Due: nbsetup

chore(docs): avoid spurious changes detection on RTD builds (#507)
  CHANGELOG.md
  docs/source/conf.py
  docs/source/notebooks/multipath.ipynb
Due: nbsetup

chore(deps): bump Warp to 1.16.0
  .gitignore
  CHANGELOG.md
  differt/pyproject.toml
  differt/src/differt/geometry/_mesh.py
  differt/src/differt/geometry/_scene.py
  differt/tests/geometry/test_scene.py
  uv.lock
Due: none

Revert "chore(docs): avoid spurious changes detection on RTD builds (#507)"
  CHANGELOG.md
  docs/source/conf.py
Due: none

chore(ci): move from pre-commit to prek
  .github/labeler.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/source/notebooks/multipath.ipynb
  justfile
  prek.toml
  pyproject.toml
  uv.lock
Due: nbsetup

chore(lib): fix some warnings
  .readthedocs.yaml
  differt/src/differt/em/_fresnel.py
  differt/src/differt/geometry/_scene.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/notebooks/coherence.ipynb
  docs/source/notebooks/diffraction.ipynb
  docs/source/notebooks/multipath.ipynb
  docs/source/notebooks/path_candidates.ipynb
  docs/source/notebooks/performance_tips.ipynb
  docs/source/notebooks/plotting_backend.ipynb
  docs/source/notebooks/quickstart.ipynb
  docs/source/notebooks/ray_tracing_at_city_scale.ipynb
  docs/source/notebooks/sampling_paths.ipynb
  docs/source/notebooks/smoothing.ipynb
  prek.toml
  scripts/nbsetup.py
Due: nbsetup

chore(lib): fix some warnings (#516)
  .readthedocs.yaml
  differt/src/differt/em/_fresnel.py
  differt/src/differt/geometry/_scene.py
  docs/source/notebooks/advanced_path_tracing.ipynb
  docs/source/notebooks/coherence.ipynb
  docs/source/notebooks/diffraction.ipynb
  docs/source/notebooks/multipath.ipynb
  docs/source/notebooks/path_candidates.ipynb
  docs/source/notebooks/performance_tips.ipynb
  docs/source/notebooks/plotting_backend.ipynb
  docs/source/notebooks/quickstart.ipynb
  docs/source/notebooks/ray_tracing_at_city_scale.ipynb
  docs/source/notebooks/sampling_paths.ipynb
  docs/source/notebooks/smoothing.ipynb
  prek.toml
  scripts/nbsetup.py
Due: nbsetup

chore(deps): bump Warp to 1.16.0 (#513)
  .gitignore
  CHANGELOG.md
  differt/pyproject.toml
  differt/src/differt/geometry/_mesh.py
  differt/src/differt/geometry/_scene.py
  docs/justfile
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump version from 0.9.1 to 0.10.0
  CHANGELOG.md
  CITATION.cff
  Cargo.lock
  README.md
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Due: none

chore(ci): pin actions
  .github/workflows/clearcache.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/rustmsrv.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
Due: none

feat(lib): support `os.PathLike[str]` when reading files
  CHANGELOG.md
  differt-core/python/differt_core/_differt_core/geometry/graph.pyi
  differt-core/python/differt_core/_differt_core/geometry/mesh.pyi
  differt-core/python/differt_core/_differt_core/geometry/scene.pyi
  differt-core/python/differt_core/_differt_core/geometry/sionna.pyi
  differt-core/src/geometry/mesh.rs
  differt-core/src/geometry/scene.rs
  differt-core/src/geometry/sionna.rs
  differt/src/differt/geometry/_mesh.py
  differt/src/differt/geometry/_scene.py
  differt/src/differt/geometry/_sionna.py
  differt/tests/em/test_utd.py
  differt/tests/geometry/fixtures.py
  differt/tests/geometry/test_mesh.py
  differt/tests/geometry/test_scene.py
  differt/tests/geometry/test_sionna.py
  differt/tests/plotting/test_core.py
Due: cargo-check, cargo-fmt, cargo-clippy

chore(ci): pin actions (#518)
  .github/workflows/clearcache.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/rustmsrv.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
Due: none

feat(lib): support `os.PathLike[str]` when reading files (#517)
  CHANGELOG.md
  differt-core/python/differt_core/_differt_core/geometry/graph.pyi
  differt-core/python/differt_core/_differt_core/geometry/mesh.pyi
  differt-core/python/differt_core/_differt_core/geometry/scene.pyi
  differt-core/python/differt_core/_differt_core/geometry/sionna.pyi
  differt-core/src/geometry/mesh.rs
  differt-core/src/geometry/scene.rs
  differt-core/src/geometry/sionna.rs
  differt/src/differt/geometry/_mesh.py
  differt/src/differt/geometry/_scene.py
  differt/src/differt/geometry/_sionna.py
  differt/tests/em/test_utd.py
  differt/tests/geometry/fixtures.py
  differt/tests/geometry/test_mesh.py
  differt/tests/geometry/test_scene.py
  differt/tests/geometry/test_sionna.py
  differt/tests/plotting/test_core.py
Due: cargo-check, cargo-fmt, cargo-clippy

chore(docs): fix links to jaxtyping docs
  docs/source/conf.py
Due: none

chore(docs): fix links to jaxtyping docs (#519)
  docs/source/conf.py
Due: none

fix(docs): source links in PR preview
  docs/source/conf.py
  uv.lock
Due: none

fix(docs): source links in PR preview (#520)
  docs/source/conf.py
  uv.lock
Due: none

style: fix lint warnings and update class references post-merge
  differt/src/differt/em/_utd.py
  differt/src/differt/geometry/_mesh.py
  differt/src/differt/plugins/deepmimo.py
  differt/tests/em/test_utd.py
  differt/tests/geometry/test_triangle_mesh_diffraction.py
  differt/tests/test_integration.py
Due: none

test(em): replace deprecated Paths and TriangleMesh with TracedPaths and Mesh
  differt/tests/em/test_pipeline.py
Due: none

test(em): fix TracedPaths initialization parameters in test_pipeline.py
  differt/src/differt/em/_pipeline.py
  differt/tests/em/test_pipeline.py
Due: none

fix(ci): lints (#505)
  docs/source/notebooks/multipath.ipynb
  pyproject.toml
Due: nbsetup

feat(em): update ITU materials (P.2040-4) and auto-generate docs table (#504)
  CHANGELOG.md
  differt-core/src/geometry/sionna.rs
  differt/src/differt/em/__init__.py
  differt/src/differt/em/_material.py
  differt/tests/em/test_fresnel.py
  differt/tests/em/test_material.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/test_integration.py
  docs/source/_extensions/__init__.py
  docs/source/_extensions/itu_materials_table.py
  docs/source/_templates/autosummary/class.rst
  docs/source/conf.py
  docs/source/reference/differt.em.rst
  docs/source/references.bib
Due: cargo-check, cargo-fmt, cargo-clippy

chore(ci): apply pre-commit fixes on PRs
  .github/workflows/lint.yml
Due: none

chore(deps): update pre-commit hooks
  prek.toml
Due: none

chore(ci): bump deps and improve workflow
  .github/workflows/test.yml
  .gitignore
  differt-core/src/geometry/sionna.rs
  differt/src/differt/em/_material.py
  differt/src/differt/geometry/_scene.py
  differt/src/differt/plugins/deepmimo.py
  differt/tests/em/test_fresnel.py
  differt/tests/em/test_material.py
  differt/tests/geometry/test_scene.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/test_integration.py
  prek.toml
  pyproject.toml
  scripts/nbsetup.py
  scripts/sync_sampling_paths_tutorial.py
  uv.lock
Due: cargo-check, cargo-fmt, cargo-clippy

chore(ci): bump deps and improve workflow (#524)
  .github/workflows/test.yml
  .gitignore
  differt-core/src/geometry/sionna.rs
  differt/src/differt/em/_material.py
  differt/src/differt/geometry/_scene.py
  differt/src/differt/plugins/deepmimo.py
  differt/tests/em/test_fresnel.py
  differt/tests/em/test_material.py
  differt/tests/geometry/test_scene.py
  differt/tests/plugins/test_deepmimo.py
  differt/tests/test_integration.py
  prek.toml
  pyproject.toml
  scripts/nbsetup.py
  scripts/sync_sampling_paths_tutorial.py
  uv.lock
Due: cargo-check, cargo-fmt, cargo-clippy

feat(lib): implement reusable EM pipeline for received fields
  CHANGELOG.md
  differt/src/differt/em/__init__.py
  differt/src/differt/em/_pipeline.py
  differt/src/differt/em/_utd.py
  differt/tests/em/test_pipeline.py
  differt/tests/em/test_utd.py
  differt/tests/geometry/test_triangle_mesh_diffraction.py
  differt/tests/test_integration.py
  docs/source/reference/differt.em.rst
Due: none

style: fix lint warnings and update class references post-merge
  differt/src/differt/em/_utd.py
  differt/src/differt/plugins/deepmimo.py
  differt/tests/em/test_utd.py
  differt/tests/geometry/test_triangle_mesh_diffraction.py
Due: none
